/* Body element style */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header class style */
.header {
    background-color: #2a607c;
    color: #ffffff;
}

/* Style for h1 element in header class */
.header h1 {
    display: inline-block;

}

/* style for nav element in header class */
.header nav {
    float: right;
    font-size: 20px;
}

/* style for ul element under nav element in header class */
.header nav ul {
    list-style-type: none;
}

/* stle for li element under nav->ul element in header class */
.header nav ul li {
    display: inline-block;
    margin-right: 5px;
}

/* style for a element in the page */
a {
    color: white;
    text-decoration: none;
}

/* style for image element under section element */
section img {
    width: 90%;
    height: 300px;
    margin: 10px 20px 20px 50px;
}

/* Style - when cursor is hovered over any a/link element */
a:hover {
    color: khaki;
    font-size: 30px;
}

/* style for footer class */
.footer {
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  